<footer>
    <div class="w-fit my-0 mx-auto p-5 md:flex md:items-center md:justify-between text-center">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#"
                class="hover:underline">YounesB</a>. Tous droits réservés.
        </span>
        <ul class="flex flex-wrap justify-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 pl-4">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">À propos</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Mentions légales</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Politique de confidentialité</a>
            </li>
        </ul>
    </div>
</footer>